* {
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    min-height: 23px;
    color: rgb(210,200,255);
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  background: transparent;
}

#tray_grp, #status_items {
  border: 2px solid rgb(100, 114, 125);
  padding: 0px 4px;
  border-radius: 15px;
  margin-top: 2px;
  background: #1a1a1a;
}

#status_items {
  margin-right: 10px;
  padding-left: 8px;
}

#tray_grp {
  margin-right: 3px;
}

.modules-center {
  border: 2px solid rgb(100, 114, 125);
  padding: 0 3px;
  margin-top: 2px;
  border-radius: 15px;
  background: #1a1a1a;
}

.modules-left {
  border: 2px solid rgb(100, 114, 125);
  border-radius: 15px;
  margin-top: 2px;
  margin-left: 10px;
  padding: 0 6px;
  background: #1a1a1a;
}

tooltip {
  border-radius: 15px;
  background: #1a1a1a;
  padding: 0px;
  border: 2px solid rgb(100, 114, 125);
}
tooltip label {
  padding: 0px;
}

#battery {
      border-radius: 13px;

}
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}
#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}




#clock{
  /* color: #5fd1fa; */
}

#battery.charging, #battery.warning:not(.charging), #battery.critical:not(.charging){
    padding-left: 6px;
    margin-left: 3px;
    padding-right: 0px;
    background-color: #ffbe61;
    border-radius: 10px;
    color: black;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    color: black;
    background-color: #ffbe61;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
